<h1>Productos</h1>

<div >
  <table class="table table-striped table-hover">
    <thead>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Precio</th>
      <th>Cantidad</th>
      <th>Acciones</th>
    </thead>
    <tbody  *ngIf="products.length">
      <tr *ngFor="let product of products">
        <td>{{product.name}}</td>
        <td>{{product.description}}</td>
        <td>{{product.amount}}</td>
        <td>{{product.price}}</td>
        <td>
          <button type="button" class="btn btn-info">Editar</button>&nbsp;
          <button type="button" class="btn btn-danger">Eliminar</button>

        </td>
      </tr>
    </tbody>
  </table>

  <div>
    <button class="btn btn-primary" routerLink="/add" mat-raised-button>Nuevo producto</button>
  </div>
</div>

